.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
body{
  background-color:orange;
}
#result{
  border:2px solid red;
  margin-top:10px;
  font-size:20px;
  width:20%;
  Padding-top:1px;
}
